

{% extends "html/base.html" %}
{% load static %}

{% block content %}

<div class="wrapper coloured">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
       <h1>Conozcanos, nos presentamos...</h1>
       <br>
       <h1>NUESTROS ALBUMES</h1>
    </div>

    <!-- ################################################################################################ -->
  </article>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="album-grid">
  {% for album in albumes %}
    <a href="{% url 'galeria' album.id %}">
      <div class="album-item">
        <img src="{{ album.imagen.url }}" alt="{{ album.nombre }}">
        <h2>{{ album.nombre }}</h2>

      </div>
    </a>
  {% endfor %}
</div>







<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

{% endblock %}



