
{% extends "html/base_perfil.html" %}
{% load static %}
<!-- ################################################################################################ -->

{% block content %}
<!-- contenido específico de la página index.html -->

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li><a href="../index.html">Home</a></li>
      {% for cargo in user.cargos.all %}
        {% if cargo.nombre == "Pastor" %}
          <li class="active">
            <a class="drop" href="#">Cargos</a>
            <ul>
              <li><a href="{% url 'crear_cargo' %}">Crear Cargo</a></li>
              <ul>
                <li><a href="#">Cargos</a></li>
              </ul>
            </ul>
          </li>
          <li>
            <a class="drop" href="#">Eventos</a>
            <ul>
              <li><a href="{% url 'crear_evento' %}">Crear Evento</a></li>
              <li><a href="{% url 'listar_eventos' %}">Gestionar Eventos</a></li>
            </ul>
          </li>
          <li>
            <a class="drop" href="#">Galería</a>
            <ul>
              <li><a href="#">Crear Album</a></li>
              <li><a href="#">Agregar imagenes a un album</a></li>
              <li><a href="#">Gestionar Albumes existentes</a></li>
            </ul>
            
          </li>
          <li>
            <a class="drop" href="#">Versiculos</a>
            <ul>
              <li><a href="#">Gestionar versiculos</a></li>
            </ul>
          </li>
          

        {% elif cargo.nombre == "Cargo2" %}
          <li>
            <!-- Elementos para el Cargo2 -->
            <p>Elementos específicos para Cargo2</p>
          </li>
        {% else %}
          <li>
            <!-- Elementos para otros cargos -->
            <p>Elementos para otros cargos</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->

    <h1>Perfil de: <strong>{{ request.user.username }}</strong></h1>
    En esta pagina podrás administrar varios recursos de la aplicacion dependiendo del cargo que tengas,
    en el menu que se encuentra justo arriba podrá realizar las acciones correspondientes a tu cargo.




<!-- Mostrar acciones para el cargo A -->
      {% for cargo in cargos %}
          <p>{{ cargo.nombre }}</p>
      {% endfor %}  
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
  </div>
</div>
{% endblock %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
